/* Transição na troca de tema */
body {
  transition: background-color 0.25s ease, color 0.25s ease;
}

/* Card de login */
.login-caixa {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  border-radius: 12px;
}

/* Mostrar/Ocultar senha*/
#btnOlho {
  font-size: 1.1rem;
}

.card {
  border-radius: 12px;
}

.sec .table thead th {
  white-space: nowrap;
}

.d-none { display: none !important; }

.toast {
  opacity: 1; /* para simplificar visualização sem animação */
}
